/* -------- injections from notionBackup -------- */

body {
    white-space: normal !important;
}

p {
    min-height: 1em !important;
}

.code,
code {
    font-size: 100% !important;
}

blockquote {
    font-size: 100% !important;
}

.callout {
    white-space: normal !important;
}
.callout div:has(span.icon) {
    font-size: 100% !important;
}

.source:not(.bookmark) {
    font-size: 100% !important;
}

p {
    min-height: 1em !important;
}